*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
}

.images div{
    flex: 0 0 33.33%;
}